@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";


body {

 color: #565a5c;

 }


 .container {
 width: 100%;
 }

 .navbar-default {
 background-color: #FFFFFF;
 }



 .navbar-default .navbar-brand {

 color: #FF5A5F;

 font-size: 2em;

 font-weight: 400;

 }


.btn-primary.btn {

 border: 1px solid #ff5a5f;

 border-radius: 2px;

 font-weight: bold;

 background-color: #5D88FE;

 color: #fff;

 padding: 10px 25px 10px 25px;

 }


.btn-primary.btn:hover, .btn-primary.btn:focus {

 border-color: #ff7e82;

 border-bottom-color: #fa0008;

 background-color: #5D88FE;

 outline:none;

 }


.btn-primary.btn:active {

 border-color: #5D88FE;

 background-color: #5D88FE;

 outline:none;

 }


.btn-default.btn {

 width: 100%;

 border-radius: 2px;

 padding: 10px 0;

 margin-top: 10px;

 }


.panel-default .panel-heading {

 color: #565a5c;

 background-color: #edefed;

 font-size: 18px;

 font-weight: 400

 }


.row-space-1 {

 margin-top: 6px;

 margin-bottom: 6px;

 }


.row-space-2 {

 margin-top: 12px;

 margin-bottom: 12px;

 }


.row-space-3 {

 margin-top: 24px;

 margin-bottom: 24px;

 }


.description {

 color: #575757;

 font-size: 15px;

 font-weight: 500;

 line-height: 25px;

 }

.avatar-small {
      width: 28px;
 }

.avatar-medium {
      width: 48px;
 }

.avatar-large {
      width: 68px;
 }

 .avatar-full {
      width: 100%;
 }

 .form-group {

 margin-bottom: 25px;

 }


.form-control {

 border-radius: 2px;

 height: 4rem;

 }


.sidebar-list {

 padding-left: 0;

 list-style: none;

 }


.sidebar-item {

 padding: 10px 0;

 font-size: 16px;

 color: #82888a;

 border-bottom: 1px solid #CCC;

 }


.sidebar-link {

 color: #82888a;

 text-decoration: none;

 }


.sidebar-link:hover, .sidebar-link:focus {

 color: #cacccd;

 text-decoration: none;

 }


.active.sidebar-link {

 color: #565a5c;

 font-weight: bold;

 text-decoration: none;

 }


.btn-file {

 position: relative;

 overflow: hidden;

 }


.btn-file input[type=file] {

 position: absolute;

 top: 0;

 right: 0;

 min-width: 100%;

 min-height: 100%;

 font-size: 100px;

 text-align: right;

 filter: alpha(opacity=0);

 opacity: 0;

 outline: none;

 background: white;

 cursor: inherit;

 display: block;

 }

label {

 color: #565a5c;

 font-size: 1.1em;

 font-weight: 500;

 margin-bottom: 10px;

 }


select {

 color: #565a5c;

 background-color: #fff;

 width: 100%;

 border: 1px solid #ccc;

 border-radius: 2px;

 padding: 10px;

 appearance: none;

 -moz-appearance: none; /* Firefox */

 -webkit-appearance: none; /* Safari and Chrome */

 }


.select:before {

 content: '\25bc';

 font-size: 1.2em;

 position: absolute;

 color: #82888A;

 top: 40px;

 right: 30px;

 transform: scale(0.84, 0.42);

 }


input[type="checkbox"] {

 height: 1.25em;

 width: 1.25em;

 margin-bottom: -0.25em;

 margin-right: 5px;

 vertical-align: top;

 border: 1px solid #c4c4c4;

 border-radius: 2px;

 appearance: none;

 -moz-appearance: none; /* Firefox */

 -webkit-appearance: none; /* Safari and Chrome */

 }


input[type="checkbox"]:checked:before {

 content: "\2713";

 position: absolute;

 font-size: 0.95em;

 text-align: center;

 width: 1.25em;

 color: #ff5a5f;

 }

.panel-heading.preview {

         padding: 0;

 }


.panel-heading.preview img{

          width: 100%;

 }

 .text-line-through {
      text-decoration: line-through
 }


  #map{
  height: 400px;
  width: 45%;
  }



 .map_and_address {
  height: 350px;
  width: 48%;
 }

 .map_unique {
  height: 200px;
  width: 48%;
 }

 .container_map {
  display: flex;
  height: 400px;
  width: 100%;
 }

 .activity_comments{
  height: 300px;
  width: 50%;
  margin-left: 50px;
  text-align: center;
 }

.reservation-table td {

       width: 100%;

       border: 1px solid #dce0e0;

       padding: 10px;

}

.wide {
 width: 100%;
 }

.price_tag {

  background-color: #606567;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

 .home-link a,p{
  color: #82888A;
  text-decoration: none;
}

.home-link:hover a, .home-link:focus a{
  color: #82888A;
  text-decoration: none;
}

#wrapper {

      width:960px;

      margin:0 auto;

 }


#sidebar {

      float:right;

      width:340px;

 }


#sidebar #widget {

      width:340px;

      height: 600px;

      margin-bottom:10px;

      border-bottom:1px solid #ccc;

 }


#article {
  width:560px;
}

 .btn-primary-fb.btn {

     border: 1px solid #4568b2;

     border-radius: 2px;

     font-weight: bold;

     background-color: #4568b2;

     color: #fff;

     padding: 10px 25px 10px 25px;

 }


.btn-primary-fb.btn:hover, .btn-primary-fb.btn:focus {

    border-color: #627aac;

    background-color: #627aac;

    outline:none;

 }


.btn-primary-fb.btn:active {

   border-color: #2b2eb2;

   background-color: #2b2ebB2;

   outline:none;

 }


.check_box_activity {
  display: flex;
  padding-left: 30px;
  margin-left: 40px;
}

.check_box_activity_exterieur {
  display: flex;
  padding-left: 30px;
}

.activity_image{
  height: 400px;
  width: 45%;
}

.container_informations {
  height: 400px;
  width: 50%;
}

#myCarousel {
  height: 400px;
  width: 48%;
}

.activity_haut {
  width: 100%;
  display: flex;
}

.informations_activity {
  display: flex;
}

.informations_activity_2{
  padding-left: 10px;
}

.carousel-indicators {
}