@import "bootstrap-sprockets";
@import "bootstrap";
<<<<<<< HEAD

avatar-small {

      width: 28px;

 }


.avatar-medium {

      width: 48px;

 }

.avatar-large {

      width: 68px;

 }

 .avatar-full {

      width: 100%;

 }
=======
>>>>>>> 0c9c1fa5c8cda1b05c422e67d7a2478fd6d70c15
